<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="left_side_menu">
    <div class="left-side-menu">

        <div class="slimscroll-menu">

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">

                    <li class="menu-title">Navigation</li>
                    <li>
                        <a href="javascript: void(0);">
                            <i class="la la-user"></i>
                            <span>User Management</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a th:href="@{/user/create}">Create User</a>
                            </li>
                            <li>
                                <a th:href="@{/user}">User List</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);">
                            <i class="la la-clone"></i>
                            <span>Product Management</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a th:href="@{/product/create}">Create Product</a>
                            </li>
                            <li>
                                <a th:href="@{/product}">Product List</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);">
                            <i class="la la-envelope"></i>
                            <span> Order Management </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a href="/order?action=create">Create Oder</a>
                            </li>
                            <li>
                                <a href="/order">List Oder</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div >
</th:block>