<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Upvex - Responsive Admin Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="Coderthemes" name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- plugin css -->
    <link href="/assets/libs/jquery-vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css">

    <!-- App css -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/css-my-style.css" rel="stylesheet" type="text/css">

</head>

<body>

<!-- Begin page -->
<div id="wrapper">

    <!-- Topbar Start -->
    <div th:replace="/home :: navbar-custom"></div>
    <!-- end Topbar -->

    <!-- ========== Left Sidebar Start ========== -->
    <div th:replace="/home :: left-side-menu"></div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <a class="btn btn-primary waves-effect waves-light" href="/product" style="width: 200px;">List Product</a>
                                    </div>
                                    <div class="col-lg-6">

                                    </div>
                                </div>
                                <form method="post" enctype="multipart/form-data">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail" class="col-form-label">Title</label>
                                            <input type="text" required class="form-control" id="inputEmail" placeholder="Title" name="title" aria-required="true" >
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputPassword" class="col-form-label">Price</label>
                                            <input type="number" required class="form-control" id="inputPassword" placeholder="Price" name="price" min="0" aria-required="true" >
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="FullName1" class="col-form-label">Quantity</label>
                                            <input type="number" required class="form-control" id="FullName1" placeholder="Quantity" name="quantity" min="0" aria-required="true" >
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputState1" class="col-form-label">Category</label>
                                            <select id="inputState1" class="form-control" name="category_id" >
                                                <option>Bánh Rau Câu</option>
                                                <option>Bánh Ngọt</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary waves-effect waves-light" >Edit</button>
                                </form>
                            </div> <!-- end card-body -->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end page title -->

            </div> <!-- container -->

        </div> <!-- content -->

        <!-- Footer Start -->
        <footer th:replace="/home :: footer"></footer>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->

<!-- Right Sidebar -->
<div th:replace="/home :: right-bar"></div>
<!-- /Right-bar -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>

<!-- Vendor js -->
<script src="/assets/js/vendor.min.js"></script>

<!-- Third Party js-->
<script src="/assets/libs/peity/jquery.peity.min.js"></script>
<script src="/assets/libs/apexcharts/apexcharts.min.js"></script>
<script src="/assets/libs/jquery-vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/assets/libs/jquery-vectormap/jquery-jvectormap-us-merc-en.js"></script>

<!-- Dashboard init -->
<script src="/assets/js/pages/dashboard-1.init.js"></script>

<!-- App js -->
<script src="/assets/js/app.min.js"></script>

</body>
</html>
